/* Add CSS styling here */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #EFE2BA;
}

.container {
    width: 95%;
    background-color: #4056A1;
    margin: 0 auto;
}

a {
    color: black;
}

/*header styling*/

header {
    width: 90%;
    margin: 3% auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C5CBE3;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
}

header h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2%;
}

header nav {
    width: 50%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
}

header nav a {
    width: 100%;
    margin: 10% auto 0 auto;
    padding: 5%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: #F13C20
}

/*about section styling*/

#nameSection {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
}

#nameSection img {
    width: 80%;
    margin: 0.5% auto;
    padding: 4%;
    background-color: #EFE2BA;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
}

#nameSection article {
    width: 95%;
    margin: 2% auto;
    padding: 3%;
    background-color: #C5CBE3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
}

#nameSection article h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2%;
}

#nameSection article a {
    width: 35%;
    margin: 0 5% 5% 5%;
    padding: 2%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    background-color: #F13C20;
    font-size: 1.4rem;
    text-decoration: none;
}

#nameSection article p {
    font-size: 1.2rem;
}

/*picture section styling*/

#pictureSection {
    width: 90%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10% auto;
    background-color: #C5CBE3;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
}

#pictureSection img {
    width: 90%;
    margin-bottom: 1rem;
    padding: 3%;
    background-color: #EFE2BA;
    border: 0.1rem solid black;
    border-radius: 0.8rem;
}

#pictureSection h3 {
    width: 40%;
    margin: 0 auto 3rem auto;
    font-size: 1.4rem;
    padding: 3%;
    background-color: #F13C20;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

#pictureSection a {
    text-decoration: none;
}

/*footer styling*/

footer {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 5% 10%;
    background-color: #F13C20;
}

footer h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

footer a {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #4056A1;
    padding: 4%;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

@media (min-width:500px) {
    /*header for tablet version*/
    header {
        width: 95%;
        align-items: flex-start;
        margin: 0 auto;
    }
    header h1 {
        margin: 2% 0;
        font-size: 7rem;
    }
    header nav {
        width: 45%;
        flex-direction: row;
        align-items: flex-start;
        margin: 0 5%;
    }
    header nav a {
        margin: 1%;
        font-size: 3rem;
    }
    /*about section for tablet version*/
    #nameSection {
        margin: 3% auto;
        width: 80%;
    }
    #nameSection img {
        width: 60%;
        padding: 3%;
    }
    #nameSection article h2 {
        font-size: 6rem;
    }
    #nameSection article a {
        font-size: 3rem;
        width: auto;
    }
    #nameSection article p {
        font-size: 2.4rem;
        padding: 0 3%;
    }
    /*picture section for tablet version*/
    #pictureSection{
        margin:3% auto;
        flex-flow: row wrap;
        justify-content: space-between;
        width:85%;
    }
    #pictureSection img{
        width:25rem;
    }
    #pictureSection h3{
        font-size:3rem;
        width:auto;
    }
    /*footer for tablet version*/
    footer{
        margin:3% auto;
    }
    footer h4{
        font-size:4rem;
    }
    footer a{
        font-size:3rem;
    }
}

@media (min-width:800px){
    .container{
        width:80%;
    }
    /*header for desktop version*/
    header h1{
        font-size:5rem;
    }
    header nav a{
        font-size:2rem;
        padding:3%;
    }
    /*about section for desktop version*/
    #nameSection{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        width:95%;
        margin:8% auto;
    }
    #nameSection img{
        width:35%;
        margin:0 2%;
    }
    #nameSection article h2{
        font-size: 4rem;
    }
    #nameSection article a{
        font-size:2rem;
    }
    #nameSection article p{
        font-size:2rem;
    }
    /*picture section for desktop version*/
    #pictureSection{
        width:95%;
    }
    #pictureSection img{
        width:30rem;
    }
    #pictureSection h3{
        font-size:2rem;
        width:auto;
    }
    /*footer for desktop version*/
    footer h4{
        font-size:2rem;
    }
    footer a{
        font-size:1.6rem;
    }

}
