html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    /* border:1px solid grey; */
}
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    color:#4f4f4f;
    line-height:1.5;
    letter-spacing: 1px;
}

h1, h2, h3, h4{
    font-size: 3rem;
    letter-spacing: 3px;
}
h1{
    font-size:5rem;
    margin-bottom:2rem;
}

a{
    text-decoration: none;
    color:#4f4f4f;
    border:1px solid #4f4f4f;
    padding:0.5rem;
    font-size:1.6rem;
}

/*header styling*/
header{
    display:flex;
    flex-direction: column;
    padding:2rem;
    margin:0 5rem;
}
header nav{
    display:flex;
    padding-left:3rem;
    flex-wrap:wrap;
}
header nav a{
    width:8rem;
    text-align: center;
}

/*name section styling*/
#name{
    display:flex;
    align-items: center;
    text-align: center;
    margin:3rem;
}
#name article{
    width:80rem;
    margin:3rem;
    padding:5rem;
}
#name article h2{
    margin:3rem;
}
.link{
    padding:0.5rem;
    margin-bottom: 2rem;
}
.img-container{
    width:80rem;
    margin:3rem;
}
.img-container img{
    width:50rem;
    padding:2rem;
}

/*picture section styling*/
#pictures{
    margin:5rem auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.box{
    width:40rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:3rem
}
.box img{ 
    margin:0 auto 1rem auto;
}
.box a{
    width:10rem;
    min-width: auto;
    margin:0 auto;
}

/*footer styling*/
footer{
    margin:4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
footer h3{
    margin:3rem;
}

/*media query for max-width 800px*/
@media (max-width:800px){
    header{
        align-items: center;
    }
    header nav{
        padding:0;
    }
    #name{
        flex-direction: column;
        align-items: center;
    }
    .img-container{
        width:100%;
        margin:0;
    }
    #name article{
        width:100%;
        margin:0;
    }
    .box{
        width:30rem;
    }
}

/*media query at 500px*/
@media (max-width:500px){
   header nav{
       flex-direction: column;
   }
   header nav a{
       width:20rem;
   }
    .img-container img{
        width:30rem;
    }
}
